spark.master mesos://{{ front_private_ip }}:5050
spark.serializer org.apache.spark.serializer.KryoSerializer
spark.mesos.principal {{principal}}
spark.mesos.secret {{secret}}
spark.eventLog.enabled true
spark.history.fs.logDirectory {{ spark_history_fs_logDirectory }}
spark.eventLog.dir {{ spark_eventLog_dir }}